.bg{
   
    padding: 71px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:390px;
    width:100%;
    background-color: #FFFFFF;
    margin-bottom: 25px;
    }
    #logo{
    height: 100px;
    width: 100px;
    }
   .class{
    height: 71px;
   
   }
   .left{
    font-family:cursive;
    font-size: 57px;
    color:#2319d6;
   }
    #title{text-decoration: none;
    padding-top: 285px;
    text-align:justify;
    font-size: 45px;
    font-style: italic;
    color:rgb(252, 247, 247);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    width: 900px;
    /* line-height: 1.56;
    letter-spacing: 0.5px; */

    }
    .name_temp1{
    padding-left: 120px;
    color: rgba(13, 103, 111, 0.94);
    text-align: left;
    height: 40px;
    font-size: 15px;
    text-indent: 40px;
   
    }
    /* .name_temp1:hover{
    font-size: 101%;
    } */

    a:hover{
        color: #373e4c;
    }
    a{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #379aff;
        text-decoration: none;
        font-size: 19px;
    }
    .path{
        padding-left: 55px;
    }
    .intro{
    line-height: 1.56;
    letter-spacing: 0.5px;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#373e4c ;
    }
    .img{
    padding-left: 170px;
    padding-top: 25px;
    align-content: center;
    width: 800px;
    }
    #iskcon{
    padding-top: 30px;
    }
    .info{
    padding-left: 170px;
    padding-right: 340px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #373e4c;
    font-size: 20px;
    text-indent: 10px;
    line-height: 1.56;
    letter-spacing: 0.5px;
    }
    .information:hover{
    background-color: rgba(13, 188, 159, 0.167);
    color: blue;
    }
